* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  border: none;
  background: none;
}

body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &.bg {
    background-image: url('./img/bg.png');
    background-size: 100% 100%;
  }
}

@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  src: url('./fonts/Barlow-SemiBold.ttf');
}

@font-face {
  font-family: 'Bankir-Retro';
  src: url('./fonts/Bankir-Retro.ttf');
}

@font-face {
  font-family: 'icons';
  src: url('./fonts/icomoon.ttf');
}
